Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  performance-unnecessary-copy-initialization,
  performance-inefficient-vector-operations
WarningsAsErrors: ''
HeaderFilterRegex: 'include/mse/.*'
FormatStyle: file
